.cyclinder {
    transform-style: preserve-3d;
    transform: rotateX(-20deg) rotateY(0deg) rotateZ(0deg);

    &__face {

        >.face {
            position: absolute;
            background: limegreen;
            border: solid darkgreen;
            border-width: 5px 0;

            height: 120px;
            width: 24px;
            opacity: 1;

            $face-count: 1;

            @while $face-count <=24 {
                $face-count: $face-count + 1;

                &--#{$face-count} {
                    transform: rotateY($face-count * 15deg) translateZ(85px);
                }
            }
        }

    }
}